github "ReactiveCocoa/ReactiveCocoa" "v4.0-alpha.1"
github "kumabook/FeedlyKit"
github "kumabook/XCDYouTubeKit" == 2.3.3
github "kumabook/PlayerKit"
github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire" == 2.0.2
github "realm/realm-cocoa" "v0.95.3"
github "kumabook/Breit"
github "Spincoaster/SoundCloudKit"
