github "ReactiveCocoa/ReactiveCocoa" "master"
github "kumabook/FeedlyKit"
github "0xced/XCDYouTubeKit"
github "kumabook/PlayerKit"
github "SwiftyJSON/SwiftyJSON" "3.0.0"
github "Alamofire/Alamofire"
github "realm/realm-cocoa"
github "kumabook/Breit"
github "Spincoaster/SoundCloudKit"
github "Flipboard/FLAnimatedImage"
